@import "../../node_modules/sassy-lists/stylesheets/functions/_slice.scss";
///
/// Generates Fibonacci and Fibonacci-like number sequences.
///
/// @param {INT} $target_len - How long your seq should be.
/// @param {INT} $fibonacciness - Changes the weight distribution to non-standard Fibonacci sequences.
///               - 0: Each number twice the one before. Starts "1 2 4 8"
///               - 1: Standard Fibonacci. Starts "1 2 3 5"
///               - 2: Shallower: Skips two numbers each time. Starts "1 2 3 4 6"
///               - 3: Shallowerer: Skips three numbers each time. Starts "1 2 3 4 5 7"
///               - x: Shallowererer: Etc. Will make no difference when x > $target_len - 2
///
/// @requires sassy-lists
///
/// @example
/// skiponacci(6)
/// // 1 2 3 5 8 13
///
/// @example
/// skiponacci(8, 3)
/// // 1 2 3 4 5 7 10 14
///
/// @return {List}
///
// Increasing the skip or start number makes the arc more shallow or straight.
//$fibonacciness: goes to 6 - 1 is perfect. Always starts from the second 1
@function skiponacci($target_len: 6, $fibonacciness: 1) {
  $_: sl-missing-dependencies("sl-slice");
  // Get things going...
  $result: (0 1);
  // Account for the "0 1" of "0 1 1 2"
  $target_len: $target_len + 2;
  // Increment by 1 while not enough items to allow for the target skip.
  @while length($result) <= ($fibonacciness + 1) {
    $result: append($result, length($result) - 1);
  }
  // Until we have enough numbers to return the seq slice ...
  @while length($result) < $target_len {
    // Add the current largest to the number we're skipping back to.
    $newcci: nth($result, -1) + nth($result, ($fibonacciness + 1) * -1);
    // Append to the sequence.
    $result: append($result, $newcci);
  }
  // Ignore the "0 1" of "0 1 1 2" ...
  // OR: In the case of $fibonacciness=0, Ignore the "0" of "0 1 2"
  $zero-adjust: if($fibonacciness == 0, 1, 0);
  @return sl-slice($result, 3 - $zero-adjust, $target_len - $zero-adjust);
}
///
/// More examples.
///
/// @example
/// skiponacci(8, 1)
/// // 1 2 3 5 8 13 21 34
///
///            0 1 1
///              1 1 2
///                1 2 3
///                  2 3 5
///                    3 5 8
///                      5 8 13
///                        8 13 21
///                          13 21 34
///
///
/// @example
/// skiponacci(13, 6)
/// // 1 2 3 4 5 6 7 8 10 13 17 22 28
///
///               0
///                 1
///                   1
///                     2
///                       3
///                         4
///                           5
///                             6
///                 1           6 7
///                   1           7 8
///                     2           8 10
///                       3           10 13
///                         4            13 17
///                           5             17 22
///                             6              22 28
///
