@import "~sassy-lists/stylesheets/functions/_slice.scss";
@import "../../stylesheets/functions/fontonacci";
@include test("The fontonacci function") {
  @include it("Should rescale the sequence credibly") {
    @include assert-equal(
      fontonacci(1 2 3 4, 100, 400),
      400 300 200 100,
      "Should be evenly distributed"
    );
    @include assert-equal(
      fontonacci(1 2 3 5, 100, 400),
      400 250 175 100,
      "Should be simlarly distributed"
    );
    @include assert-equal(
      fontonacci(1 2 3 6, 100, 400),
      400 220 160 100,
      "Should be simlarly distributed"
    );
    @include assert-equal(
      fontonacci(1 2 5 8, 100, 400),
      400 271.4 142.9 100,
      "Should be simlarly distributed"
    );
  }
  @include it("Should scale various units") {
    @include assert-equal(
      fontonacci(1 2 3 5 8 13, 100%, 400%),
      400% 275% 200% 150% 125% 100%,
      "Should handle % units"
    );
    @include assert-equal(
      fontonacci(1 2 3 5 8 13, 100pt, 400pt),
      400pt 275pt 200pt 150pt 125pt 100pt,
      "Should handle pt units"
    );
    @include assert-equal(
      fontonacci(1 2 3 5 8 13, 100px, 400px),
      400px 275px 200px 150px 125px 100px,
      "Should handle px units"
    );
    @include assert-equal(
      fontonacci(1 2 3 5 8 13, 1vw, 4vw),
      4vw 2.8vw 2vw 1.5vw 1.3vw 1vw,
      "Should handle vw units"
    );
    @include assert-equal(
      fontonacci(1 2 3 5 8 13, 1vh, 4vh),
      4vh 2.8vh 2vh 1.5vh 1.3vh 1vh,
      "Should handle vw units"
    );
    @include assert-equal(
      fontonacci(1 2 3 5 8 13, 1em, 4em),
      4em 2.8em 2em 1.5em 1.3em 1em,
      "Should handle em units"
    );
  }
  @include it("max Should be constrained") {
    $max: 5000;
    @include assert-equal(
      nth(fontonacci(1 2 3 4, 100, $max), 1),
      $max,
      "First number should not exceed max"
    );
    $max: 4321;
    @include assert-equal(
      nth(fontonacci(1 2 3 4, 100, $max), 1),
      $max,
      "First number should not exceed max"
    );
    $max: 100;
    @include assert-equal(
      nth(fontonacci(1 2 3 4, 1, $max), 1),
      $max,
      "First number should not exceed max"
    );
    $max: 10;
    @include assert-equal(
      nth(fontonacci(1 2 3 4, 1, $max), 1),
      $max,
      "First number should not exceed max"
    );
    $max: 1;
    @include assert-equal(
      nth(fontonacci(1 2 3 4, 0, $max), 1),
      $max,
      "First number should not exceed max"
    );
  }
  @include it("min Should be constrained") {
    $min: 5000;
    @include assert-equal(
      nth(fontonacci(1 2 3 4, $min, $min * 2), -1),
      $min,
      "Last number should not be less than min"
    );
    $min: 4321;
    @include assert-equal(
      nth(fontonacci(1 2 3 4, $min, $min * 2), -1),
      $min,
      "Last number should not be less than min"
    );
    $min: 100;
    @include assert-equal(
      nth(fontonacci(1 2 3 4, $min, $min * 2), -1),
      $min,
      "Last number should not be less than min"
    );
    $min: 10;
    @include assert-equal(
      nth(fontonacci(1 2 3 4, $min, $min * 2), -1),
      $min,
      "Last number should not be less than min"
    );
    $min: 1;
    @include assert-equal(
      nth(fontonacci(1 2 3 4, $min, $min * 2), -1),
      $min,
      "Last number should not be less than min"
    );
  }
}
